*{
    margin: 0;
    padding: 0;
}

section{
    margin: 40px auto;
    width: 1000px;
}
.center{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*--------------SLIDERS-------------------*/
.baner {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#slider {
    width: 80%;
    max-width: 900px;
    height: 500px;
    max-height: 900px;

    position: relative;
}
#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}
#slider img.ativo { 
    opacity: 1;
}
/*--------------FIM SLIDERS-------------------*/


/*--------------SOBRE NÓS-------------------*/
.box-sobre-nos{
    max-width: 300px;
    width: 90%;
    text-align: center;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    box-shadow: 0 0 10px rgba(128, 128, 128, 0.336);
}
.sobre-nos{width: 80%;}
/*--------------FIM SOBRE NÓS-------------------*/

.contato{
    width: 100%;
    padding: 50px 0px;
    background-color: #b10e11;
    text-align: center;
}
.box-contato{
    width: 250px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}
.box-contato a{
    font-size: 30px;
    color: #b10e11;
}

footer{
    text-align: center;
}

@media (max-width: 768px){
    section{
        width: 100%;
    }
    .center{
        display: inline-block;
    }
    .box-sobre-nos{
        margin: 15px auto;
        width: 90%;
    }
    .conteudo-footer{
        width: 100%;
    }

}
